<div class="container">


		<h2><%= @whatnew.caption %></h2>
		<p>
			<%= @whatnew.text %>
		</p>

		<p>
		  <b>Tag:</b>
		  <%= @whatnew.tag %>
		</p>
		<if user.sign_in?&&current_user.admin? %>
			<%=  link_to 'Редактировать', edit_admin_whatnews_path(@whatnew), class: 'btn btn-outline-secondary' %>
	
</div>
