<h1>Event</h1>
	<p> 
		<strong>Event title:</strong>
		<%= @event.ev_title %>		
	</p>
	<p>
		<strong>Event description:</strong>
		<%= @event.ev_description %>
	</p>
	<%= link_to 'Events', events_path %>
	<%= link_to 'Home', root_path %>
	<br>