<% content_for :page_title do
  'О нас'
end %>

<div class="container">
	<h1>О нас</h1>
	<p>Chocolate cake sugar plum gummi bears biscuit danish sesame snaps pastry. Cake powder jujubes chocolate cake wafer halvah candy canes ice cream. Croissant bonbon biscuit.

Lemon drops powder bear claw pie oat cake. Toffee cake cake tiramisu. Cotton candy gummi bears cookie apple pie chocolate cake tootsie roll pastry ice cream dessert.

Sweet roll cake apple pie tart pudding. Ice cream caramels cotton candy wafer. Ice cream gummi bears croissant jelly beans apple pie marshmallow cake.

Bear claw tootsie roll bear claw sweet roll. Halvah candy caramels donut halvah toffee wafer. Danish biscuit sugar plum pastry biscuit gummies gummies croissant dragée.

Gingerbread toffee gummies chocolate pudding marzipan sugar plum jujubes sesame snaps. Tiramisu marzipan lollipop cookie. Jujubes fruitcake brownie cheesecake. Ice cream marzipan cookie marshmallow marzipan.</p>
</div>