<% content_for :page_title do
  'Контакты'
end %>
<div class="container">
	<h1>Контакты</h1>
	<p>Разработчик: <i>Pasha Bratanov</i></p>
	<p>Нашли баг? Пишите на мой e-mail: <strong>zihzag@gmail.com</strong></p>
</div>