<% content_for :page_title do
  @subject.title
end %>

<div class="container">

	<h1>	<%= @subject.title %></h1>
		 
		<p>
			<%= @subject.description %>
		</p>
			
			<%= link_to 'Редактрировать', edit_admin_subject_path(@subject), class: 'btn btn-outline-secondary' %>
</div>




