
<div class="container">
		<strong>Заголовок:</strong>
			<%= @subject.title %> <br>
		<strong>Описание:</strong>
			<%= @subject.description %><br>	
			<%= link_to 'Редактрировать', edit_admin_subject_path(@subject), class: 'btn btn-outline-secondary' %>
</div>




