  <footer>
            <div class="container">
                <div class="row align-items-center footer_block">
                    
                    <div class="col-sm copy_right">
                       <%= link_to image_tag("favicon_proj_b.ico"), root_path, class: 'navbar-brand' %>Fancy geek &copy; 2017-2018, Bratanov
                      <!-- <div>&copy; 2017-2018, Bratanov</div> -->
                    </div>

                    <div class="col-sm contacts">
                        <%= link_to 'Контакты', '/pages/contacts' %>
                    </div>
                        
                    <div class="col-sm aboutus">
                        <%= link_to 'О нас', '/pages/about' %>
                    </div>

                    <div class="col-sm github">
                        <%= link_to 'Github', 'https://github.com/zgfif/project_b', target: '_blank'  %>
                    </div>
              </div>  
            </div>
  </footer>